@import "tailwindcss";

@theme {
  --color-primary: #000080;
  --color-secondary: #FFA500;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}